DownloadNotification #list-keys {
    layout: horizontal;
    color: red;
}

#key-info {
    width: 30%;
}

#key-info-label {
    height: 50%;
}

Button {
    width: 90%;
}

#record_explorer_info_panel {
    width: 30%;
}
